<p>
  <strong>Nombre:</strong>
  <%= @descent.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @descent.apellido %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @descent.dni %>
</p>

<p>
  <strong>Nombre bote:</strong>
  <%= @descent.nombre_bote %>
</p>

<p>
  <strong>Matricula bote:</strong>
  <%= @descent.matricula_bote %>
</p>

<p>
  <strong>Motor bote:</strong>
  <%= @descent.motor_bote %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @descent.fecha %>
</p>

<%= link_to 'Volver', descents_path, class: 'btn btn-secondary' %>
