<h1>Lista de usuarios</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Usuario</th>
			<th>E-mail</th>
			<th>dni</th>
			<th>perfil</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |u| %>
			<tr>
				<td><%= u.id %></td>
				<td><%= u.surname + ', ' + u.name %></td>
				<td><%= u.email %></td>
				<td><%= u.dni %></td>
				<td><%= u.user_type %></td>
				<td><%= link_to 'Ver', user_path(u.id), class: 'btn btn-sm btn-outline-success' %></td>
				<td><%= link_to 'Editar', edit_user_path(u.id), class: 'btn btn-sm btn-outline-danger' %></td>
			</tr>	
		<% end %>
	</tbody>
</table>