<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      SERVICIOS
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Reservar box', boxes_path, class: 'dropdown-item' %>
      <div class="divider"></div>
      <%= link_to 'Lanchas', boats_path, class: 'dropdown-item' %>
      <% if !current_user.client.nil? %>
        <%= link_to 'Lista de Bajadas', descent_clients_path, class: 'dropdown-item' %>
        <%= link_to 'Personas autorizadas', enable_people_path, class: 'dropdown-item' %>
      <% end %>
    </div>
  </li>
  <li class="nav-item">
    <%= link_to 'Reservaciones', reservations_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a class="nav-link">Altura del Rio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Clima Extendido</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Clasificados</a>
  </li>
</ul>