<p>
  <strong>Descripcion:</strong>
  <%= @box.descripcion %>
</p>

<p>
  <strong>Tamano:</strong>
  <%= @box.tamano %>
</p>

<% if !@reservation.nil? %>
  <p>
    <strong>Fecha hasta:</strong>
    <%= @reservation.fecha_hasta %>
  </p>
<% end %>


  <strong>Estado:</strong>
  <% case @box.state %>
  	<% when 0  %>
  		<p class="badge badge-success">Libre</p>
  	<% when 1  %>
  		<p class="badge badge-danger">Reservado</p>
    <% when 2  %>
      <p class="badge badge-warning">Pendiente</p>
  <% end %>
</p>

<% if can? :edit, Box %>
  <%= link_to 'Modificar', edit_box_path(@box) %> |
<% end %>
<%= link_to 'Volver', boxes_path %>
