<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @enable_person.client.nombre + ' ' + @enable_person.client.apellido %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @enable_person.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @enable_person.apellido %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @enable_person.dni %>
</p>

<p>
  <strong>Estado:</strong>
  <% case @enable_person.estado %>
    <% when 0 %>
      <span class="badge badge-info">Habilitado</span>
    <% when 1 %>
      <span class="badge badge-danger">Inhabilitado</span>
  <% end %>
</p>

<%= link_to 'Editar', edit_enable_person_path(@enable_person), class: 'btn btn-info' %>
<%= link_to 'volver', enable_people_path, class: 'btn btn-secondary' %>
