<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class= "container">
    
    <% if current_user.user_type == 'user' %>
      <div class="form-group col-md-6">
        <%= form.hidden_field :user_id,  id: :client_user_id, class: "form-control", value: current_user.id %>
        <%= form.label :Nombre %>
        <%= form.text_field :nombre,  id: :client_nombre, class:"form-control", value: current_user.name, readonly: true %>
      </div>
      <div class="form-group col-md-6" >
        <%= form.label :Apellido %>
        <%= form.text_field :apellido,  id: :client_apellido, class:"form-control", value: current_user.surname, readonly: true %>
      </div>
      <div class="form-group col-md-6">    
        <%= form.label :DNI %>
        <%= form.text_field :dni, id: :client_dni, class:"form-control", value: current_user.dni, readonly: true %>
      </div>
    <% elsif current_user.user_type == 'admin' %>
      <div class="form-group col-md-6">
        <%= form.label :Numero %>
        <%= form.text_field :user_id,  id: :client_user_id, class: "form-control", readjonly: true %>
      </div>
      <div class="form-group col-md-6">
        <%= form.label :Nombre %>
        <%= form.text_field :nombre,  id: :client_nombre, class: "form-control", readjonly: true %>
      </div>
      <div class="form-group col-md-6" >
        <%= form.label :Apellido %>
        <%= form.text_field :apellido,  id: :client_apellido, class: "form-control", readjonly: true %>
      </div>
      <div class="form-group col-md-6">    
        <%= form.label :DNI %>
        <%= form.text_field :dni, id: :client_dni, class: "form-control" %>
      </div>
    <% end %>


    <div class="form-group col-md-6">
      <%= form.label :Teléfono %>
      <%= form.text_field :telefono, id: :client_telefono, class:"form-control", placeholder:"telefono fijo" %>
    </div>
    <div class="form-group col-md-6"> 
      <%= form.label :Celular %>
      <%= form.text_field :celular, id: :client_celular, class:"form-control", placeholder:"número de celular" %>
    </div>

    <div class="form-group col-md-6"> 
      <%= form.hidden_field :estado, id: :client_estado, class:"form-control", value: 1 %>
    </div>

    <div class="form-group col-md-6">
      <%= form.submit"Guardar", class: "btn btn-primary"  %>
    </div>
  </div>

<% end %>
