<div class= "container-fluid text-center">
<h1>Clientes</h1>
</div>
<%= form_tag clients_path, method: :get do %>
  <div class="form-row align-items-center">
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="form-group">
            <%= text_field_tag :dni, params[:name], class: "form-control", placeholder: "DNI", autofocus: true %>
          </div>
        </div>
      </div>

      <div class="col-auto">
        <div class="input-group mb-2">        
          <div class="form-group">
            <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
          </div>
        </div>
      </div>
  </div>
<% end %>
<table class="table table-hover">
  
  <thead>
    <tr>
      <th scope="col">Nro Cliente</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Dni</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Celular</th>
      <th scope="col">Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.id %></td>
        <td><%= client.nombre %></td>
        <td><%= client.apellido %></td>
        <td><%= client.dni %></td>
        <td><%= client.telefono %></td>
        <td><%= client.celular %></td>
        
        <% case client.estado %>
          <% when '0' %>
            <td><p class="badge badge-warning">Inactivo</p></td>
          <% when '1' %>
            <td><p class="badge badge-success">Activo</p></td>
        <% end %>
        
        <td><%= link_to 'Mostrar', client, class: "btn btn-sm btn-outline-primary" %></button></td>
        <td><%= link_to 'Modificar', edit_client_path(client), class: "btn btn-sm btn-outline-success" %></button></td>
        <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Confirma Eliminar el Cliente?' }, class: "btn btn-sm btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>

</table>


<br>
<div>
<%= link_to 'Agregar Cliente', new_client_path %>
</div>
