<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <% if reservation.errors.count > 1 %>
        <h2>Se generaron <%= pluralize(reservation.errors.count, "errores") %></h2>
      <% else %>
        <h2>Se genero <%= pluralize(reservation.errors.count, "error") %></h2>
      <% end %>

      <ul>
     <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label "Cliente nro" %>
      <%= form.hidden_field :client_id, id: 'reservation_client_id', value: reservation.client_id %>
      <%= form.text_field :reservacion_client_id, class: 'form-control form-control-sm', id: 'client_id', autofocus: :true, value: reservation.client_id %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label "Cliente nombre" %>
      <%= form.text_field :client_name, class: 'form-control form-control-sm', readonly: true, id: 'reservation_client_name', value: reservation.client.present? ? reservation.client.nombre_completo : '' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :Box %>
      <% boxes_array = @boxes.all.map { |box| [box.id.to_s + " -> " + box.tamano, box.id] } %>
      <%= form.select(:box_id, options_for_select(boxes_array, selected: params[:id]), {:prompt => "Seleccione un box"}, {:class => "form-control", readonly: params[:id].present? ? true : false }) %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :fecha_desde %>
      <%= form.date_field :fecha_desde, id: :fecha_desde, class: 'form-control form-control-sm' %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :fecha_hasta %>
      <%= form.date_field :fecha_hasta, id: :fecha_hasta, class: 'form-control form-control-sm' %>
    </div>
  </div>

  <% if can? :edit, Reservation %>
    <div class="form-group col-md-6">  
      <%= form.label :estado %>
      <%= form.select(:estado, options_for_select([["Pendiente",0], ["Aprobado",1], ["Cancelado",2]], selected: @reservation.estado), {prompt: 'Estados'},  {:class => 'form-control form-control-sm' }) %>
    </div>
  <% end %>


  <div class="actions">
    <%= form.submit 'Guardar', class: "btn btn-primary"  %>
  </div>
<% end %>
