<h1>Reserva</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Client</th>
      <th scope="col">Box</th>
      <th scope="col">Fecha desde</th>
      <th scope="col">Fecha hasta</th>
      <th scope="col">Estado</th>
      <th colspan="3"><center> Acciones Posible</center></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.client.nombre_completo %></td>
        <td><%= reservation.box.descripcion %></td>
        <td><%= reservation.fecha_desde %></td>
        <td><%= reservation.fecha_hasta %></td>
        <td><%= reservation.estado %></td>
        <td><%= link_to 'Mostrar', reservation, class: "btn btn-sm btn-outline-primary" %></td>
        <td><%= link_to 'Modificar', edit_reservation_path(reservation), class: "btn btn-sm btn-outline-success" %></td>
        <td><%= link_to 'Eliminar', reservation, method: :delete, data: { confirm: 'Deseas Eliminar la reserva?' }, class: "btn btn-sm btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Reservation', new_reservation_path %>
