<div class="text-center">
  <h1>Reserva</h1>
</div>
<div class="row col-12">
  <%= link_to 'Nueva reservación', new_reservation_path, class: "btn btn-outline-success" %>
</div>
<br>
<table class="table table-hover">
  <thead>
    <tr class="text-center">
      <th scope="col">Cliente</th>
      <th scope="col">Box</th>
      <th scope="col">Fecha desde</th>
      <th scope="col">Fecha hasta</th>
      <th scope="col">Estado</th>
      <th colspan="3"><center> Acciones Posible</center></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr class="">
        <td><%= reservation.client.nombre_completo %></td>
        <td><%= "nro " + reservation.box.id.to_s + " -> " + reservation.box.descripcion %></td>
        <td><%= reservation.fecha_desde %></td>
        <td><%= reservation.fecha_hasta %></td>

        <% case reservation.estado %>
        <% when 0 %>
          <td><p class="badge badge-warning">Pendiente</p></td>
        <% when 1 %>
          <td><p class="badge badge-success">Aprobado</p></td>
        <% when 2 %>
          <td><p class="badge badge-danger">Cancelado</p></td>
        <% end %>
          

        <td><%= link_to 'Mostrar', reservation, class: "btn btn-sm btn-outline-primary" %></td>
        <% if current_user.user_type == 'admin' or current_user.user_type == 'operador' %>
          <% if reservation.estado == 0 %>
            
            <td><%= link_to 'Modificar', edit_reservation_path(reservation), class: "btn btn-sm btn-outline-success" %></td>

          <% else %>

            <td></td>

          <% end %>

          <% if reservation.estado == 0 %>

            <td><%= link_to 'Eliminar', reservation, method: :delete, data: { confirm: 'Desea Eliminar la reserva?' }, class: "btn btn-sm btn-outline-danger" %></td>

          <% else %>

            <td></td>

          <% end %>

        <% elsif current_user.user_type == 'user' and reservation.estado == 0 %>
          <td><%= link_to 'Modificar', edit_reservation_path(reservation), class: "btn btn-sm btn-outline-success" %></td>
          <td><%= link_to 'Eliminar', reservation, method: :delete, data: { confirm: 'Desea Eliminar la reserva?' }, class: "btn btn-sm btn-outline-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
