<p>
  <strong>Cliente:</strong>
  <%= @reservation.client.nombre_completo %>
</p>

<p>
  <strong>Box:</strong>
  <%= @reservation.box.nombreb %>
</p>

<p>
  <strong>Fecha desde:</strong>
  <%= @reservation.fecha_desde %>
</p>

<p>
  <strong>Fecha hasta:</strong>
  <%= @reservation.fecha_hasta %>
</p>

<p>
  <strong>Estado:</strong>
  <% case @reservation.estado %>
    <% when 0 %>
      <p><span class="badge badge-warning">Pendiente</span></p>
    <% when 1 %>
      <p><span class="badge badge-success">Aprobado</span></p>
    <% when 2 %>
      <p><span class="badge badge-danger">Cancelado</span></p>
  <% end %>
</p>

<% if can? :edit, Reservation %>
  <%= link_to 'Modificar', edit_reservation_path(@reservation), class: 'btn btn-success' %>
<% end %>
<%= link_to 'Volver', reservations_path, class: 'btn btn-secondary' %>
