<h1 class="alert alert-info">Reportes</h1>

<div class="container">
	<div class="row">
		<div class="form-group">
			<h3>Clientes</h3>

		</div>
	</div>

	<div class="row">
		<div class="form-group">
			<h3>Bajadas</h3>
			<%= form_tag estadisticas_bajadas_path(format: "pdf"), :target => '_blank', :method => :get, id: 'form-update-detalle', class: 'form-inline' do %>
				<div class="form-group mb-2">
					<%= label_tag 'Fecha desde' %>
					<%= date_field_tag :fecha_desde,'01/01/2014', class: 'form-control' %>
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<%= label_tag :fecha_hasta %>
					<%= date_field_tag :fecha_hasta, '01/01/2014', class: 'form-control form-control-sm' %>
				</div>
				<div class="row form-group">
					<%= submit_tag 'Confirmar', class: 'btn btn-outline-info btn-sm mb-2', id: 'btn-confirm-update-detalle'	%>
				</div>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="form-group">
			<h3>Box</h3>	
		</div>
	</div>
</div>
