<br>
<div class="row justify-content-md-center">
  <div class="col-md-3">
    <div class="text-center">
      <h2 class="alert alert-secondary" >Iniciar sesión</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label 'E-mail' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label 'Contraseña' %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div> 

      <% if devise_mapping.rememberable? -%>
        <div class="form-group text-center">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label 'Recordarme' %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Iniciar sesión", class: 'btn btn-info btn-block' %>
      </div>
    <% end %>
  </div>
</div>
