<%= form_with(model: enabled_client, local: true) do |form| %>
  <% if enabled_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enabled_client.errors.count, "error") %> prohibited this enabled_client from being saved:</h2>

      <ul>
      <% enabled_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :client_id,"Nombre Cliente" %>
 
    <%= form.select :client_id, options_from_collection_for_select(@clients, :id, :name)%>
  </div>

  <div class="field">
    <%= form.label :enabled_person_id %>
    <%= form.text_field :enabled_person_id, id: :enabled_client_enabled_person_id %>
  </div>

  <div class="field">
    <%= form.label :clients_id %>
    <%= form.text_field :clients_id, id: :enabled_client_clients_id %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :enabled_client_descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
