

<h1>Enabled Clients</h1>

<table>
  <thead>
    <tr>
      <th>Enabled person</th>
      <th>Clients</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enabled_clients.each do |enabled_client| %>
      <tr>
        <td><%= enabled_client.enabled_person %></td>
        <td><%= enabled_client.clients %></td>
        <td><%= enabled_client.descripcion %></td>
        <td><%= link_to 'Show', enabled_client %></td>
        <td><%= link_to 'Edit', edit_enabled_client_path(enabled_client) %></td>
        <td><%= link_to 'Destroy', enabled_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enabled Client', new_enabled_client_path %>
