

<p>
  <strong>Enabled person:</strong>
  <%= @enabled_client.enabled_person %>
</p>

<p>
  <strong>Clients:</strong>
  <%= @enabled_client.clients %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @enabled_client.descripcion %>
</p>

<%= link_to 'Edit', edit_enabled_client_path(@enabled_client) %> |
<%= link_to 'Back', enabled_clients_path %>
