<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @descent_client.client.apellido + ', ' + @descent_client.client.nombre %>
</p>

<p>
  <strong>Bote:</strong>
  <%= @descent_client.boat.nombre %>
</p>

<p>
  <strong>Persona permitida:</strong>
  <%= @descent_client.enable_person.apellido + ', ' + @descent_client.enable_person.nombre %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @descent_client.fecha %>
</p>

<%= link_to 'Volver', descent_clients_path, class: 'btn btn-secondary' %>
